<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} | {{ site.name }} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/ico/favicon.ico">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/github.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/themes/{{ site.theme }}/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootswatch.min.css">
  </head>
  <body>

    {% include navbar.liquid %}

    <div class="container">

      <div class="page-header" id="banner">
        <p class="lead">{{ page.title }}</p>
      </div>

      {{ content }}

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <hr>
            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
            </ul>
            <p class="text-muted">© Copyright {{ site.copyright }}.</p>
            <p class="text-muted">Created using <a href="https://github.com/ogom/nsume" rel="nofollow">nSume</a>.</p>
          </div>
        </div>
      </footer>

    </div>

    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootswatch.js"></script>
  </body>
</html>
